<div class="login_block">

    <div class="form-group">
        <label for="exampleInputUsername">UserName</label>
        <input type="text" [(ngModel)]="name" class="form-control" id="exampleInputUsername" aria-describedby="emailHelp" placeholder="Enter the Username">
        <small id="username" class="form-text text-muted"></small>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" [(ngModel)]="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" *ngIf="name!='' && password!=''" class="btn btn-primary" (click)="submitclick()">Submit</button>
</div>
<br>

<div class="table_block">
    <table class="table table-condensed table-bordered">
        <thead>
            <tr>
                <th scope="col">UserName</th>
                <th scope="col">Password</th>
            </tr>
        </thead>

        <tbody>

            <tr *ngFor="let list of lists">
                <td>{{list.name}}</td>
                <td> {{list.password}}</td>
            </tr>
        </tbody>
    </table>

</div>