<table class="center" border="3" >
        <h2 class="text-center">Students Details</h2>
        {{listing.length}}
        <div class="row" *ngFor="let list of listing">
            <div class="col-5">
                <label for="name">Student Name</label>
                <input type="text" [(ngModel)]="list.name" class="form-control" placeholder="Enter the Name">
            </div>
            <div class="col-2">
                <label for="year">Year</label>
                <select input type="number" [(ngModel)]="list.year" class="form-control" placeholder="year">
                        <option value="2000">2000</option>
                        <option value="2001">2001</option>
                        <option value="2002">2002</option>
                        <option value="2003">2003</option>
                        <option value="2004">2004</option>
                        <option value="2005">2005</option>
                        <option value="2006">2006</option>
                        <option value="2007">2007</option>
                        <option value="2008">2008</option>
                        <option value="2009">2009</option>
                        <option value="2010">2010</option>
                        <option value="2011">2011</option>
                        <option value="2012">2012</option>
                        <option value="2013">2013</option>
                        <option value="2014">2014</option>
                        <option value="2015">2015</option>
                        <option value="2016">2016</option>
                    </select>
    
            </div>
    
            <div class="col-3">
                <label for="email">Email</label>
                <input type="text" [(ngModel)]="list.email" class="form-control" placeholder="Enter the email address">
            </div>
            <div class="col-2">
                <label for="branch">Branch</label>
                <select input type="text" [(ngModel)]="list.branch" class="form-control" placeholder="Select your branch">
            <option value="CSE">CSE</option>
            <option value="ECE">ECE</option>
            <option value="EEE">EEE</option>
            <option value="ECE">CIVIL</option>
                    </select>
            </div>
        </div>
       
        <div class="col-4 col-6">

            <button type="submit" class="btn btn-primary" (click)="addRow()" >Add Row</button>
            <button type="submit" class="btn btn-primary" (click)="sumbitform()">Submit</button>
    
        </div>
        
    <br>
    <div class="table_block" >
        <table class="table table-condensed table-bordered">
            <thead>
                <tr>
                    <th scope="col">Student Name</th>
                    <th scope="col">Year</th>
                    <th scope="col">Email</th>
                    <th scope="col">Branch</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let list of lists">
                    <td>{{list.name}}</td>
                    <td>{{list.year}}</td>
                    <td>{{list.email}}</td>
                    <td>{{list.branch}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</table>